* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
}

#game-canvas {
    display: block;
    cursor: crosshair;
}

#scoreElement {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-family: 'Pixelify Sans';
    font-size: 32px;
    z-index: 100000000;
}