* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
}

#game-canvas {
    display: block;
    cursor: crosshair;
}

.player { z-index: 500;}